@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,900;1,200&display=swap');

body{
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    padding: 2rem;
}
.main{
    max-width: 69rem;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
    margin: 2rem 0;
}
img{
    display: block;
    max-width: 19rem;
    margin: 0 auto;
}
.bayan{
    font-size: 1.5rem;
    color: blue;
    
}
.bayan:hover{
    color: black;
}
.bayan_item{
    border-top: 1px solid rgb(78, 76, 76) ;
}
input{
    display: none;
}
label{
    cursor: pointer;
    display: block;
    padding: 1rem 0 1rem 0;
}
.bayan_item__img{
    height: 0;  
    width: 0;
    opacity: 0;
}
input:checked~label img{
    height: auto;
    width: auto;
    opacity: 1;
    color: black;
    margin-top: 1rem;
    
}
input:checked~label{
    color: black;
}
.bayan_item__content:hover > .bayan_item__img{
    height: auto;
    width: auto;
    opacity: 1;
    transition: all 1s ease-out;
    margin-top: 1rem;
}  
.flex{
    display: flex;
    justify-content: space-between;
}
.svg{
    font-weight: 200;
    font-size: 2rem;
    line-height: 1rem;
}

input:checked ~ .bayan_item__content .flex .svg {
   transform: rotate(45deg) 
}
.bayan_item__content:hover > .flex .svg{
    transform: rotate(45deg)
}
@media (max-width:820px) {
    h1{
        font-size: 1.5rem ;
    }
    .bayan{
        font-size: 1rem;
    }
    img{
        max-width: 12rem;
    }
}
@media (max-width:360px) {
    h1{
        font-size: 1rem ;
    }
    .bayan{
        font-size: 0.7rem;
    }
    img{
        max-width: 8rem;
    }
}