@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
body{
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}
.main{
    max-width: 69rem;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
    margin: 2rem 0;
}
.use_first{
    color: black;
}
.bayan{
    font-size: 1.5rem;
    color: blue;
}
.bayan_item{
    border-top: 1px solid rgb(78, 76, 76) ;
}
.bayan:hover{
    color: black;
}
input{
    width: 100%;
    height: 100%;
    visibility: hidden;
}
label{
    display: block;
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    background-image: url(img/icon/plus-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.bayan_item__content{
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
input:checked ~ .bayan_item__content{
    max-height: 100vh;
    opacity: 1;
    
}
label:hover ~ .bayan_item__content{
    max-height: 100vh;
    opacity: 1;
    
}

label:hover{
    background-image: url(img/icon/xmark-solid.svg);
    background-repeat: no-repeat;
    background-position: right;
}


img{
    display: block;
    max-width: 19rem;
    margin: 1rem auto;
}

